weather-app {
  max-width: 600px;
  text-align: center;
}

body {
  background-color: #cb8e728d;
  font-family: "Lora", serif;
}

.container {
  display: block;

  color: black;
}

.card {
  position: inherit;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 400px;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(255, 250, 95, 0.762),
    rgb(255, 201, 165)
  );
  border: transparent;
  border-radius: 10px;
  box-shadow: salmon;
  background-size: 1600px;
}
input {
  font-family: "Lora", serif;
  text-align: center;
  margin-top: 20px;
  width: auto;
  border-radius: 4px;
  border: transparent;
  background-color: lavenderblush;
  box-shadow: 5%;
  font-size: 20px;
}

.searchButton {
  font-family: "Lora", serif;
  text-align: center;
  border-radius: 4px;
  border: transparent;
  background-color: lavenderblush;
  box-shadow: 5%;
  font-size: 20px;
}

#searchButton:hover {
  cursor: pointer;
  border: solid;
  border-width: 0.5px;
  color: grey;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 0%;
  font-size: 50px;
  font-family: "Lora", serif;
}
li {
  text-align: center;
  list-style: none;
  font-size: 30px;
  text-transform: capitalize;
}

h2 {
  text-align: center;
  font-size: 100px;
  display: inline;
  margin-bottom: 0%;
  text-transform: capitalize;
}
.row {
  font-size: 30px;
  padding-bottom: 10px;
}

button {
  font-family: "Lora", serif;
  text-align: center;
  border-radius: 4px;
  border: transparent;
  background-color: lavenderblush;
  box-shadow: 5%;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  border: solid;
  border-width: 0.5px;
  color: grey;
}

footer {
  text-align: center;
}
